h2 Welcome!
  p This is a standard AngularJS "todo app" with user authentication added in.
    p
      | The full source for this site is available here:
      a(href='https://github.com/Khelldar/Angular-Express-Train-Seed', target='_blank') https://github.com/Khelldar/Angular-Express-Train-Seed
    p
      | Stuff that was used to make this:
      ul
        li AngularJS
        li Node.js using the Express Train framework
        li MongoDB using Mongoose
        li Passport (a node module for user authentication)
